[global]
frame_color = "#{{base05-hex}}ff"
separator_color = "#{{base05-hex}}ff"

[base16_low]
    msg_urgency = low
    background = "#{{base02-hex}}f2"
    foreground = "#{{base06-hex}}ff"

[base16_normal]
    msg_urgency = normal
    background = "#{{base01-hex}}f2"
    foreground = "#{{base05-hex}}ff"

[base16_critical]
    msg_urgency = critical
    background = "#{{base08-hex}}f2"
    foreground = "#{{base06-hex}}ff"
